<div id='terminos'>
    <h1>Términos y Condiciones</h1>

    <h2>Consideraciones Generales</h2>

    <p>En el marco de esta oferta online, su socio contractual es la persona física con actividad empresarial Andres pacheco de Jesús Cruz Hernandez, con domicilio en el predio marcado con el numero ochocientos quince de la calle ciento treinta y tres letra A del Fraccionamiento Villa de alvarez del Sur quien representa la página web denominada visteme.mx

    Todas las entregas de visteme.mx al cliente se producirán en base a las siguientes Condiciones Generales de Contrato y de Entrega. En éstas se basarán todas las ofertas y los acuerdos entre printome.mx y el cliente y éstas se considerarán aceptadas durante todo el tiempo que persista la relación comercial. Condiciones del comprador contrarias o diferentes a éstas sólo serán vinculantes en el caso de que visteme.mx las haya aceptado por escrito.</p>

    <h2>Reserva de la Propiedad</h2>

    <p>La mercancía será propiedad de visteme.mx hasta la entrega de la misma. En el caso de que el cliente sea un comercio o un comerciante, visteme.mx se reserva la propiedad de toda la mercancía hasta que reciba el pago total de la misma.</p>

    <h2>Garantía</h2>

    <p>Los datos, dibujos, ilustraciones, datos técnicos, descripciones de peso, medidas y prestaciones que aparezcan en prospectos, catálogos, circulares, anuncios o listas de precios, sólo tienen carácter informativo, visteme.mx no asume responsabilidad alguna con respecto a que esos datos sean correctos. En lo que se refiere al tipo y al volumen del envío sólo tendrán validez los datos que aparecen en la confirmación del pedido.

    En el caso de que exista algún defecto de fábrica que deba cubrir la garantía, el cliente tendrá derecho en el marco de las disposiciones legales a exigir cumplimiento posterior dentro de los treinta días naturales siguientes a la recepción del producto, a anular el contrato, a una reducción del precio de compra o a un nuevo pedido dependiendo de las condiciones del mismo y la disponibilidad del producto.

    En el caso de devoluciones a causa de algún defecto de fábrica visteme.mx se hará cargo también de los gastos de envío.

    De acuerdo con el estado actual de la tecnología no puede garantizarse que la comunicación de los datos a través de Internet sea siempre accesible y exenta de errores en todo momento. Por lo tanto printome.mx no es responsable de que la accesibilidad de la oferta online sea permanente e ininterrumpida.

    Para la aplicación de la garantía por defectos de fábrica del cliente es requisito esencial que éste haya cumplido debidamente con sus obligaciones de comprobación y de reclamación de conformidad con lo estipulado en el presente contrato.

    El plazo de prescripción de los derechos de garantía por defectos de fábrica de la mercancía suministrada es de treinta días naturales contados a partir del momento en el que se recibe la mercancía.</p>

    <h2>Limitación de Responsabilidad</h2>

    <p>La responsabilidad de visteme.com y sus representantes se rige por la normativa legal siempre que en estas Condiciones Generales de Contrato y de Entrega no se determine lo contrario. En ningún caso printome.mx o sus representantes será responsable por daños y perjuicios. En caso de negligencia leve y de violación de una obligación contractual fundamental, la responsabilidad de printome.mx se limitará al resarcimiento del daño previsible que se produce típicamente.</p>

    <h2>Protección de Datos</h2>

    <p>La página web visteme.mx procesará datos personales del cliente para un fin específico y conforme a las disposiciones legales, visteme.mx utilizará para el cumplimiento y la ejecución del contrato los datos personales indicados con el fin de encargar mercancías (como por ejemplo nombre, dirección de e-mail, dirección postal, datos del pago), printome.mx tratará estos datos de forma confidencial y no los entregará a terceros que no participen en el proceso de pedido, entrega y pago. El cliente tendrá derecho a solicitar y recibir gratuitamente información sobre los datos personales que visteme.mx haya guardado sobre él. Además tiene derecho a la corrección de datos incorrectos y a que se bloqueen y borren sus datos personales, siempre que no se oponga a esto ninguna obligación legal de conservación de datos.</p>
</div>