<h1>Sobre nosotros</h1>

<p>visteme es una plataforma internacional de comercio online tipo B2C (negocio a consumidor). La empresa está principalmente enfocada a la ropa y otros articulos, pero también ofrece artículos para hombre, ropa de niño, accesorios, zapatos, bolsos y otros artículos de moda. El mercado de visteme, abarca todo Mexico
</p>